@model EduOMO.Models.PostViewModel
@{
    ViewData["Title"] = "Bài viết trên Tailieuhoc247";
    ViewData["description"] = "";
    ViewData["keywords"] = "";
    ViewData["url"] = "";
    ViewData["title"] = "";
    ViewData["image"] = "";
    ViewData["description"] = "";

    var postRefs = ViewData["PostReferences"] as IEnumerable<EduOMO.Models.PostViewModel>;
}
    
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <h1 class="pb-4">@Model.Title</h1>
                <div class="post-content">
                    @Html.Raw(@Model.Content)
                </div>
            </div>
        </div>
    </div>
</article>
<h6>Xem thêm</h6>
@if (postRefs != null && postRefs.Any())
{
    <table class="table">
        <tbody>
            @foreach (var item in postRefs)
            {
                <tr>
                    <td>
                        <a asp-controller="Post" asp-action="Details" asp-route-slug="@item.Slug">@item.Title</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}